<template>
    <div>
        <h1>Tout les Bitcoin</h1>
        <Bitcoin />
        <p>fin</p>
    </div>
</template>


<script setup lang="ts">
import Bitcoin from '@/components/BitcoinList.vue'

</script>

<style scoped>
h1{
    padding: 20px;
}
</style>