<template>
    <div>
        <h1>Tout les Pokemons</h1>
        <Poke />

    </div>
</template>


<script setup lang="ts">
import Poke from '@/components/PokemonList.vue'

</script>

<style scoped>
h1{
    padding: 20px;
}
</style>