<template>
    <div v-for="bit of bitcoins">
        <p v-for="bitD of bit.data">{{ bitD.priceUsd }}</p>
    </div>
</template>


<script setup lang="ts">
import type { bitcoins } from '@/entities';
import { onMounted, ref } from 'vue';
import { fetchBitcoins } from '@/service/bitcoins-service';

const bitcoins = ref<bitcoins[]>([]);
onMounted(async () => {
    bitcoins.value = await fetchBitcoins();
});
(bitcoins.value).forEach(bit => {
    console.log(bit.data);


});
</script>


