<template>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">PokePoke</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <router-link class="nav-link active" aria-current="page" to="/">
                            <a>Home</a>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/pokemon">
                            <a>Pokemon</a>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/bitcoins">
                            <a>Bitcoins</a>
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>