<template>
    <div class="row mesColl">
        <div class="col-2 collone" v-for="pokemon of pokemons" key="pokemon.id">
            <div class="card" style="width: 18rem;">
                <img :src="pokemon.image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">{{ pokemon.name }}</h3>
                    <p>types :</p>
                    <ul>
                        <li class="card-text" v-for="pokeType of pokemon.apiTypes">{{ pokeType.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>


<script setup lang="ts">
import type { pokemon } from '@/entities';
import { onMounted, ref } from 'vue';
import { fetchPokemon } from '@/service/pokemon-service'

const pokemons = ref<pokemon[]>([]);
onMounted(async () => {
    pokemons.value = await fetchPokemon();
});

</script>



<style scoped>
.mesColl {
    margin: auto 0;
}

.collone {
    margin-bottom: 20px;
}

p{
    margin: 0;
}
</style>