<template>
    <Header></Header>
    <main>
        <RouterView />
    </main>
</template>

<script setup lang="ts">
import { RouterView } from 'vue-router';
import Header from '@/components/Header.vue';

</script>

<style></style>